# Dependencies\nnode_modules/\n.pnp\n.pnp.js\n\n# Testing\ncoverage/\n.nyc_output/\n\n# Production\nbuild/\ndist/\n.next/\nout/\n\n# Misc\n.DS_Store\n*.pem\n\n# Debug\nnpm-debug.log*\nyarn-debug.log*\nyarn-error.log*\npnpm-debug.log*\n\n# Local env files\n.env\n.env.local\n.env.*.local\n\n# Turbo\n.turbo/\n\n# IDE\n.vscode/\n.idea/\n*.swp\n*.swo\n*~